@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sono', sans-serif;

}

body{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background: rgb(45,29,16);
background: linear-gradient(90deg, rgba(45,29,16,1) 0%, rgba(115,32,2,1) 100%);
    width: 63rem;
    height: 35rem;
}

#layout-left{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-circle{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-image: url(img/semfundo.png);
    background-size: auto;
    background-position: center;
    background-position-y: 15%;
}

#layout-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
}

.content{
    background-color: #BF8845;
    border-radius: 5px;
    width: 95%;
    height: 95%;
    padding: 10px;
}

article{
    color: #2D1D10;
    margin-top: 25px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

form input{
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 9px;
    padding: 15px;
}   

form button{
    width: 7rem;
    height: 2.5rem;
    margin-top: 15px;

    border: none;
    border-radius: 5rem;
    cursor: pointer;
}

.linha{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
}

hr{
    width: 47%;
    height: 1px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #2D1D10, rgba(0, 0, 0, 0));
}

.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 60%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn button img{
    width: 20px;
    margin-right: 5px;
}